body {
    background-image: url(img/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0%;
}
.div_index{
    display:flex;
    align-items: center;
    flex-direction: column;
    align-content:center;
    
}
h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        letter-spacing: 1px;
      }
      
      h1 {
        background-image: url(img/giphy.webp);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 120px;
        line-height: .75;
        margin: 10px 0;

      }
      /* styling my button */
      
      .white-mode {
        text-decoration: none;
        padding: 7px 10px;
        background-color: #122;
        border-radius: 3px;
        color: #FFF;
        transition: .35s ease-in-out;
        position: absolute;
        left: 15px;
        bottom: 15px;
        font-family: "Montserrat";
      }
      
      .white-mode:hover {
        background-color: #FFF;
        color: #122;
      }
      
      
      
      
}

@keyframes bouge {
    0%{}
    50%{transform:translateX(100px) rotate(180deg) scale(1.5);}
    100%{transform:translateX(0px) rotate(0deg) scale(1);}       
}


a {
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: grey;
    text-decoration: none;
    box-shadow:3px 3px rgb(144, 146, 7);
    margin-bottom: 0px;
    
}

a:hover {
    background: rgb(0, 0, 0);
}